@import "tooltips"


.tooltips-header  
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(160deg, #34b6d9, #3464d9);
    background-image: linear-gradient(160deg, #34b6d9, #3464d9);
    background-color: #348dd9;
    color: white;
    text-align: center;
    padding:100px 0 120px 0;
    h1

        font-size: 60px;
        font-weight: 900;
        letter-spacing: -2px;
        line-height: 100px;
        color:#fff;
   
    .btn
        border: 2px solid transparent;
        position: relative;
        width:240px;
        text-align:center;
        margin: 20px 10px;
   
    .btn-primary
        background-color: white;
        color: #348dd9;
        text-transform: uppercase;
   
    .btn-link
        border-color: white;
        color: white;

    

h4{padding:20px;}
p.titie{padding:0 20px;font-size:16px;font-weight:bold;border-bottom:1px solid #dfdfdf;line-height:30px;}

.tooltips_cell 
    flex: 1 33.33%;
    font-size: 0.8em;

.tooltips_cell a
    display: inline-block;
    width: 100%;
    background: #3bb6fd;
    color: #000;
    margin: 2px 0;
    padding: 16px 5px;
    text-align:center;

          
.tooltips_color_1 a
    background #e1e1e1
.tooltips_color_2 a
    background #bc5957
.tooltips_color_3 a
    background #c7a35f
.tooltips_color_4 a
    background #4190b5
.tooltips_color_5 a
    background #4e924f
.tooltips_color_2 a,
.tooltips_color_3 a,
.tooltips_color_4 a,
.tooltips_color_5 a
    color #fff










