@import "node_modules/tooltips"

.tooltips-header{
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(160deg, #34b6d9, #3464d9);
    background-image: linear-gradient(160deg, #34b6d9, #3464d9);
    background-color: #348dd9;
    color: white;
    text-align: center;
    padding:100px 0 120px 0;
    h1{

        font-size: 60px;
        font-weight: 900;
        letter-spacing: -2px;
        line-height: 100px;
        color:#fff;
    }
    .btn{
        border: 2px solid transparent;
        position: relative;
        width:240px;
        text-align:center;
        margin: 20px 10px;
    }
    .btn-primary{
        background-color: white;
        color: #348dd9;
        text-transform: uppercase;
    }
    .btn-link{
        border-color: white;
        color: white;

    }
}

.tooltips-content{
    padding:20px;
}
h4{padding:20px;}
p.titie{padding:0 20px;font-size:16px;font-weight:bold;border-bottom:1px solid #dfdfdf;line-height:30px;}